<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Jaipur's Air Quality Index Index</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
      <input type="text" name="radius_mean" placeholder="Radius Mean" required="required" /><br>
    	<input type="text" name="texture_mean" placeholder="Texture Mean" required="required" /><br>
        <input type="text" name="perimeter_mean" placeholder="Perimeter Mean" required="required" /><br>
        <input type="text" name="area_mean" placeholder="Area Mean" required="required" /><br>
        <input type="text" name="smoothness_mean" placeholder="Smoothness Mean" required="required" /><br>
	<input type="text" name="compactness_mean" placeholder="Compactness Mean" required="required" /><br>
    	<input type="text" name="concavity_mean" placeholder="Concavity Mean" required="required" /><br>
        <input type="text" name="concave_points_mean" placeholder="Concave points Mean" required="required" /><br>
        <input type="text" name="symmetry_mean" placeholder="Symmetry Mean" required="required" /><br>
        <input type="text" name="fractal_dimension_mean" placeholder="Fractal Dimension Mean" required="required" /><br>

       

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
  
   
 </div>
 {{prediction_text}}

</body>
</html>
